/* Fonts Styles
   -------------------- */

@font-face {
  font-family: 'dk_crayon_crumbleregular';
  src: url('../fonts/dk_crayon_crumble-webfont.woff2') format('woff2'),
       url('../fonts/dk_crayon_crumble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Base Element Styles
   -------------------- */

* {
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;
  font-family: 'dk_crayon_crumbleregular', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  color: #d6d6d6;
  background: url("../img/chalkboard.jpg") no-repeat center center;
  background-size: cover;
  background-color: #333;
}

header {
  background-color: rgba(214, 214, 214, 0.1);
  color: #7aabd4;
  padding: 0.75rem;
}

h2, p {
  padding: 0;
  margin: 0;
}

/* Base Layout Styles
   -------------------- */

/* Navigation  */



/* Layout Containers */

.game-container {
  padding: 0.75rem;
}

.word-container,
.incorrect-container,
.equation-container {
  text-align: center;
}

/* Page Elements */

#equation {
  font-size: 0;
}

#equation span {
  font-size: 1.25rem;
  letter-spacing: 0;
}

.letter {
  display: inline-block;
  width: 1.25rem;
  height: 1.5rem;
  text-align: center;
}

.letter.matched {
  color: #a9d3ab;
}

#incorrect {
  color: #f58e8e;
}

#start-btn {
  font-family: 'dk_crayon_crumbleregular', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  color: #a9d3ab;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #d6d6d6;
}

/* Media Queries
   -------------------- */

@media screen and (min-width: 400px) {
  
  body {
    font-size: 1.5rem;
  }
  
  .letter {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 768px) {
  
  body {
    font-size: 1.5rem;
  }
  
  .letter {
    width: 2rem;
    height: 2rem;
  }
}

/* Helper Classes
   -------------------- */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

